<div class="mt-5">
  <h5>Skills</h5>
<p style="color: blue;">HTML</p>
<div class="container">
          <div class="skills html">90%</div>
        </div>

<p>CSS</p>
<div class="container">
  <div class="skills css">80%</div>
</div>
<p>Bootstrap</p>
<div class="container">
  <div class="skills bootstrap">70%</div>
</div>
<p>JavaScript</p>
<div class="container">
  <div class="skills js">65%</div>
</div>

<p>Angular</p>
<div class="container">
  <div class="skills angular">65%</div>
</div>
<p>Node.js</p>
<div class="container">
  <div class="skills nodejs">65%</div>
</div>
<p>Express.js</p>
<div class="container">
  <div class="skills expressjs">60%</div>
</div>
<p>MongoDB</p>
<div class="container">
  <div class="skills mongodb">65%</div>
</div>
</div>