<div class="about">

<h3><u>About us</u></h3>
<P class="text-white mt-4">Design and implement RESTful APIs for seamless integration between front-end and back-end systems.<br>
 Work closely with UI/UX designers to create responsive and visually appealing user interfaces.<br> Troubleshoot, debug, and optimize code to ensure high performance and reliability.</P>
</div>
<div class="container text-center mt-0">
          <div class="row">
            <div class="col">
                    <i class="bi bi-telephone-fill"></i>
                   +91  6304388272
            </div>
            <div class="col">
                    <i class="bi bi-envelope-fill"></i>
                    srividhya7281<i class="bi-solid bi-at"></i>gmail.com
            </div>
            <div class="col">
                    <i class="bi bi-github"></i> <a href="https://github.com/srividhya7281/">https://github.com/</a>

            </div>
          </div>
        </div>
