<div>
          <h5>Education</h5>
        <table class="table text-white">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Group</th>
              <th scope="col">University</th>
              <th scope="col">Marks %</th>
              <th scope="col">Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Bsc Computer Science</td>
              <td>Vikrama Simhapuri University, Nellore.</td>
              <td>89%</td>
              <td>2010 to 2013</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Intermediate</td>
              <td>A.P state</td>
              <td>70.2%</td>
              <td>2008 to 2010</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>SSC</td>
              <td>A.P state, Z.P.H.S HighSchool</td>
              <td>74%</td>
              <td>2008</td>
            </tr>
          </tbody>
        </table>

</div>