<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../assets/Black and White Circle Business Logo (2).png" alt="" width="50" height="30">
      Portfolio
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
       
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/skills">Skills</a>
        <a class="nav-link" href="#">videos</a>
        <a class="nav-link" href="/contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet />
